@import './root.css';
@import './responsive.css';

html {
  box-sizing: border-box;
  height: 100%;
}

*:before,
*:after {
  font-size: inherit;
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: auto 40px;
  font-family: var(--primary-font);
}

h1 {
  font-size: var(--large-title);
  font-weight: var(--weight-bold);
}


h2 {
  font-weight: var(--weight-bold);
  font-size:  var(--medium-title);
  margin-top: 60px;
}

h3 {
  color: var(--color2);
  font-size: var(--body-text);
  font-weight: var(--weight-bold);
}

h4 {
  font-weight: var(--weight-regular);
  font-size: var(--small-title);
  margin-bottom: -10px;
}

.titleUnlocked {
  text-align: center;
}

p {
  color: var(--color1);
  line-height: 1.4;
  font-size: var(--body-text);
}

.textSmall {
  font-size: var(--small-text);
}

.blueText {
  color: var(--primary-color);
}

.blueButton {
  text-decoration: none;
  font-family: var(--primary-font);
  font-weight: var(--weight-bold);
  align-content: center;
  color: var(--color2);
  background-color: var(--primary-color);
  border-radius: var(--border-radius-button);
  padding: var(--padding-button);
  box-shadow: var(--primary-shadow);
  border: none;
  text-align: center;
}

.redButton {
  text-decoration: none;
  font-family: var(--primary-font);
  font-weight: var(--weight-bold);
  align-content: center;
  color: var(--color2);
  background-color: var(--secundary-color);
  border-radius: var(--border-radius-button);
  padding: var(--padding-button);
  box-shadow: var(--secundary-shadow);
  margin-bottom: 30px;
  border: none;
}

.button {
  display: flex;
  justify-content: center;
}

.button-firstPage {
  margin-bottom: 30px;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.logos {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.locker {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: var(--primary-shadow);
  border-radius: var(--border-radius-button);
  text-decoration: none;
  margin-bottom: 10px;
}

.lockerDisabled {
  background-color: var(--primary-color-disabled);
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: var(--disabled-shadow);
  border-radius: var(--border-radius-button);
  text-decoration: none;
}

.lockerImg {
  border-radius: 0px 5px 5px 0px;
  width: 100%;
}

.lockerInfo {
  padding-left: 10px;
}

/* .hidden {
  display: none;
} */

.geriefText {
  color: var(--color2);
  font-size: var(--xsmall-text);
}

.beschikbareLockers {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.oneLocker {
  color: var(--secundary-color);
  background-color: var(--secundary-color-opacity);
  padding: var(--padding-button);
  border: 2px solid var(--secundary-color);
  border-radius: var(--border-radius-button);
}

.infoBar {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.lockersDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.backButton {
  margin-top: 30px;
}

.LockerDetailInfo {
  display: flex;
  justify-content: space-between;
}

.lockerImgGroot {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.rapporteer {
  font-weight: var(--weight-bold);
  margin-bottom: 5px;
}

.rapporteerDiv {
  margin-bottom: 50px;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.unlocked {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.unlockedImg {
  display: flex;
  justify-content: center;
}

.textUnlocked {
  text-align: center;
  margin-bottom: 30px;
  margin-top: -10px;
}

/* form */

.form {
  margin-top: 30px;
}

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.inputField {
  padding: 10px 0px 10px 0px;
  color: var(--color3);
  font-size: var(--body-text);
  border-bottom: 2px solid var(--primary-color);
  border-top: none;
  border-left: none;
  border-right: none;
}
.inputFieldError {
  padding: 10px 0px 10px 0px;
  color: black;
  font-size: 16px;
  border-bottom: 2px solid red;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}
.inputFieldErrorText{
  color:red;
  font-size: 12px;
  padding-top: 10px;
}

.label {
  margin-bottom: 10px;
  font-size: var(--small-text);
  font-weight: var(--weight-bold);
}

.submit {
  margin-top: 50px;
}

/* popup */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--color2);
  padding: 10px;
  border-radius: var(--border-radius-popup);
  z-index: 10;
  transition: 200ms ease-in-out;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
}

.popupForm {
  padding: 15px 30px 15px 30px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.sendAgain {
  text-align: center;
  text-decoration: underline;
  margin-top: 30px;
}

.popupClose {
  background-color: var(--color2);
  border: none;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.popupOptions {
  margin-top: 50px;
}

.popupReport {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--color2);
  border-radius: var(--border-radius-popup);
  z-index: 10;
  transition: 200ms ease-in-out;
  padding: 20px;
}

.popupReport.active {
  transform: translate(-50%, -50%) scale(1);
}

.reportOptions {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.popupReportTitle {
  padding-bottom: 10px;
}